.navBar {
  width: 100%;
  height: 50px;
  background-color: #2C3E50;
}

.character {
  width: 640px;;
  height: 1000px;
  background-color: blue;
  margin: 0 auto;
}

#image {
  // margin: 10% 50% 3% 25%;
  // margin: 8% 25% 4% 30%;
// position: absolute;
padding: 50px 50px 10px 150px;
}

li {
  background-color: red;
  width: 100px;
  height: 2.1rem;
  float: left;
  padding-top: 1em;
  // position: relative;
}

li a {
  color: white;
  font-size: 1.25em;
  // position: relative;
}

li:first-child {
  margin-right: 10px;
  margin-left: 20%;
}

li:nth-child(2){
  margin-right: 10px;
}

li:nth-child(3){
  margin-right: 10px;
}

li:nth-child(4){
  margin-right: 10px;
}

#character-list {
  width: 800px;
}
